[submodule "themes/sam"]
	path = themes/sam
	url = https://github.com/victoriadrake/hugo-theme-sam
[submodule "themes/hugrid"]
	path = themes/hugrid
	url = https://github.com/aerohub/hugrid
[submodule "themes/orbit"]
	path = themes/orbit
	url = https://github.com/aerohub/hugo-orbit-theme
[submodule "themes/creative-portfolio"]
	path = themes/creative-portfolio
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme
[submodule "themes/forty"]
	path = themes/forty
	url = https://github.com/MarcusVirg/forty
[submodule "themes/hestia-pure"]
	path = themes/hestia-pure
	url = https://github.com/diwao/hestia-pure
